DB_DSN=postgresql://username:password@localhost:5432/proxify
PROXY_PORT=8080
PROXY_HOST=127.0.0.1
DASHBOARD_PORT=8888
COMMIT_BATCH_SIZE=50
COMMIT_INTERVAL=2.0
DUMP_DIR=dumps
SPOOF_DOMAINS=tiktok.com,tiktokv.com,byteoversea.com,tiktokcdn.com

IGNORE_HOSTS=example.com,api.example.com
